body{
    font-family:sans-serif;
    /* margin: 0 auto; */
    padding: 20px;
}
.container{
    display: flex;
    gap:50px;
    flex-wrap: wrap;
}
#posts{
    width: 400px;
}
i{
    cursor: pointer;
}
#input{
    border: 1px solid;
}
#posts div {
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: start;
}
#posts div p{
    width: 200px;
    word-wrap:break-word;
}
#posts .options{
    display: flex;
    align-items: center;
    gap:30px;
    width: 150px;
}
#msg{
    color:red;
}